[BASIC]
# good-names=df
good-names-rgxs=^[_a-z][_a-z0-9]?$


[TYPECHECK]
ignored-modules=Levenshtein
generated-members=Chem.*

[FORMAT]
max-line-length=120

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO,
      BUG