[BASIC]
; keep default values
; good-names=df
good-names-rgxs=^[a-zA-Z_][a-zA-Z0-9_]*$


[TYPECHECK]
ignored-modules=Levenshtein
generated-members=Chem.*

[FORMAT]
max-line-length=120

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO,
      BUG,
      NOTE